<div>
  <h1><%= book.title %></h1>
    <h2>
      <a href="/authors/<%=book.author.id%>"></a>
        <%= book.author.name %>
      </a>
    </h2>
</div>

<% if(Array.isArray(book.bookComments) && book.bookComments.length > 0) { %>
  <% book.bookComments.forEach(function(bookComment) { %>
      <p>
          <%= bookComment.user.name %>
          <%= bookComment.content %>
      </p>
<% })} %>

<div class="comments">
  <form action="/books/<%= book.id %>/comment" method="POST" >
    <label for="content">Comment</label>
    <input name="content" type="text">
    <!-- <button type="submit">Submit</button> -->
    <input type="submit">
  </form>
</div>