<h2>Profile Page</h2>

<h3>Welcome to your PROFILE</h3>

<p>Id: <%= user.user.id %></p>
<p>Name: <%= user.user.name %></p>
<p>Email: <%= user.user.email %></p>

<h3>Your Book Lists:</h3>

<% if(user.user.tbrLists) { %>
    <% user.user.tbrLists.forEach(function(list) { %>
        <div>
        <p>
            <a href="/tbrLists/<%= list.id %>">
            <%= list.name %>
            </a>
        </p>
        </div>
<% })} else { %>
    <p>No lists yet!</p>
<% } %>
    

<button><a href="tbrLists/new">Add a List</a></button>