    <h2><%= user.user.name %>'s Profile Page</h2>
    <p>User ID: <%= user.user.id %></p>
    <p>Email Address: <%= user.user.email %></p>

    <h2>Your Book Lists:</h2>
    <ol type="1">
    <% if(user.user.tbrLists) { %>
        <% user.user.tbrLists.forEach(function(list) { %>
            <li>
                <a href="/tbrLists/<%= list.id %>">
                <%= list.name %>
                </a>
            </li>
    <% })} else { %>
        <p>No lists yet!</p>
    <% } %>
    </ol>

<form action="/tbrLists/new" method="GET">
    <input type="submit" value="Add a List">
</form>