<div class="page-alignment">

<h1><%= tbrList.tbrList.name %></h1>
<ol type="1">
    <% tbrList.books.forEach(function(book) { %>
        <li>
            <h2>
                <a href="/books/<%= book.id %>">
                <%= book.title %>
                </a>
            </h2>
            <h3>
                By <%= book.author.name %>
            </h3>
            <form action="/tbrLists/<%= tbrList.tbrList.id %>/remove/?_method=DELETE" method="POST">
                <button type="submit" name="bookId" value="<%= book.id %>">Remove</button>
            </form>
        </li>
        <% }) %>
</ol>

<form action="/tbrLists/<%= tbrList.tbrList.id %>/add" method="GET">
    <input type="submit" value="Add to Your List">
</form>

</div>